@import "base";


body {
    @apply text-gray-900;
}

b {
    @apply font-semibold;
}

.viewport-container {
    @apply w-screen h-screen flex flex-col;
}

@keyframes text-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.intro {
    @apply flex-1 p-40;

    @include media("<=1200px") {
        @apply p-10 py-20;
    }

    .intro-title {
        @apply font-medium text-6xl md:text-8xl overflow-hidden;
    }

    .intro-desc {
        @apply text-lg md:text-xl py-10;
    }
}

.board {
    @apply flex-1 p-4 relative;
    cursor: crosshair;
}

.cursor {
    @apply hidden w-10 h-10 rounded-full bg-red-500/20 transform -translate-y-1/2 -translate-x-1/2 fixed;
    transition: .3s opacity cubic-bezier(1, 0, 0, 1);
    pointer-events: none;
}

@media (hover: hover) {
    .cursor {
        @apply block;
    }
}

.text-up {
    animation: text-up 2s ease-in-out;
    -webkit-animation: text-up 1s cubic-bezier(1, 0, 0, 1);
}

.cta {
    @apply bg-red-500 p-4 px-6 text-base text-white rounded-full font-normal transform hover:scale-105 transition;  
}

.cta-container {
    @apply py-5;
}

footer {
    @apply flex flex-row justify-between items-center p-6;
}

.link {
    @apply font-medium;
}

.board-header {
    @apply flex justify-betwee items-center p-6;

    input {
        @apply outline-none text-center;
    }
}

.note {
    @apply bg-red-500 h-[16rem] max-h-[rem] aspect-square text-white p-4 shadow-2xl rounded-sm absolute text-sm;

    .note-header {
        @apply text-white flex justify-end;
    }

    .content {
        @apply  bg-transparent resize-none outline-none w-full h-full placeholder:text-white/50 leading-relaxed;
    }
}