@import "base";


body {
    @apply text-gray-900;
}

b {
    @apply font-semibold;
}

.viewport-container {
    @apply w-screen h-screen flex flex-col;
}

.board-container {
    @apply w-screen h-screen flex flex-col;
}

@keyframes text-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.intro {
    @apply flex-1 p-40;

    @include media("<=1200px") {
        @apply p-10 py-20;
    }

    .intro-title {
        @apply font-medium text-6xl md:text-8xl overflow-hidden;
    }

    .intro-desc {
        @apply text-lg md:text-xl py-10;
    }
}

.board {
    @apply flex-1 p-4 relative w-full h-full;
    cursor: crosshair ;
}

.cursor {
    @apply hidden w-10 h-10 rounded-full bg-red-500/20 z-[99999] transform -translate-y-1/2 -translate-x-1/2 fixed ;
    transition: .3s opacity cubic-bezier(1, 0, 0, 1);
    pointer-events: none;
}

@media (hover: hover) {
    .cursor {
        @apply block;
    }

    .delete-board {
        @apply opacity-0; 
    }

    .board-list-item {
        &:hover {
                .delete-board {
                    @apply opacity-100;
                    transition-timing-function: cubic-bezier(1, 0, 0, 1);
                }
        }

        .board-list-item-content {
            @apply w-full h-full flex items-center justify-center;
        }
    }
}

.text-up {
    animation: text-up 2s ease-in-out;
    -webkit-animation: text-up 1s cubic-bezier(1, 0, 0, 1);
}

.cta {
    @apply bg-red-500 p-4 px-6 text-base text-white rounded-full font-normal transform hover:scale-105 transition;  
}

.cta-container {
    @apply py-5;
}

footer {
    @apply flex flex-row justify-between items-center p-6 w-full;
}

.link {
    @apply font-medium;
}

.boards-list {
    @apply fixed left-0 top-0 px-8 p-6 bg-white/70 z-[200] flex flex-col w-max shadow-xl h-full space-y-4;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    .board-list-item {
        @apply relative w-48 aspect-video border-red-500 opacity-80 hover:opacity-100 border-2 ring-4 ring-red-500/5 hover:border-red-500 flex items-center justify-center rounded-md text-sm transition cursor-pointer transform hover:scale-105;

        .delete-board {
            @apply bg-red-500/90 text-white rounded-full p-2 absolute right-0 top-0 transform translate-x-1/2 -translate-y-1/2;
        }

    }

    .board-list-item.active {
        @apply border-red-500 border-2;
    }
}

.boards-list-backdrop {
    @apply w-screen h-screen fixed top-0 z-50 left-0 bg-black/10;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.board-header {
    @apply flex justify-between items-center p-4 fixed top-0 w-full z-50;

    input {
        @apply outline-none text-center p-2 rounded-md bg-white/50;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }

    .boards-btn {
        @apply p-2 px-4 hover:bg-red-500/25 transition rounded-md cursor-pointer;
    }
}

.board-footer {
    @apply flex fixed bottom-0 w-full z-50;
}


.note {
    @apply bg-red-500 h-[16rem] max-h-[rem] aspect-square text-white p-4 shadow-2xl rounded-sm absolute text-sm overflow-hidden;

    .note-header {
        @apply text-white p-2 flex justify-end space-x-1 absolute cursor-pointer top-0 right-0 transition;
        transform: translateY(-100%);
        transition-timing-function: cubic-bezier(1, 0, 0, 1);

        .delete {
            @apply bg-black/10 rounded-full p-2;
        }
    }

    &:hover {
        .note-header {
            transform: translateY(0%);
        }
    }

    .content {
        @apply  bg-transparent resize-none outline-none w-full h-full placeholder:text-white/50 leading-relaxed;
    }
}

.fade-enter-to,
.fade-leave-to {
    opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .1s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slideRight-enter-to,
.slideRight-leave-to {
    transform: translateX(0%);
}

.slideRight-enter-active,
.slideRight-leave-active {
  transition: transform .1s ease-in-out;
}

.slideRight-enter-from,
.slideRight-leave-to {
    transform: translateX(-100%);
}